.list {
    text-align: center;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__item {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__rectangle {
        width: 100%;
        height: 30px;
        background-color: var(--my-color);
        border: 1px solid lightgrey;

        &-wrapper {
            display: flex;
            gap: 10px;
        }
    }

    &__button {
        background-color: white;
        border: none;
        font-size: 20px;
    }
}